<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion de Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>Registracion</h1>

    <figure>
        <img src="/images/logo-DH.png" alt="Logo Digital House">
    </figure>

    <form action="/users/register" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name" class="<%= (locals.errors && errors.name) ? 'input-error' : '' %>" value= "<%= locals.oldValues ? oldValues.name : null %>" >
            <p class="msg-error"><%= locals.errors && errors.name ? errors.name.msg : "" %></p>
        
        
        </div>
        <br>
        
        <div>
            <label for="">Email</label>
            <input type="text" name="email" class ="<% (locals.errors && errors.email) ? 'input-error' : '' %>" value= "<%= locals.oldValues ? oldValues.email : null %>">
            <p class="msg-error"><%= locals.errors && errors.email ? errors.email.msg : "" %></p>
        </div>
        <br>

         <div>
            <label for="">Contraseña</label>            
            <input type="password" name="password" class = "<% (locals.errors && errors.password) ? 'input-error' : '' %>" value= "<%= locals.oldValues ? oldValues.password : null %>">
            <p class="msg-error"><%= locals.errors && errors.password ? errors.password.msg : "" %></p>
        </div>
      
        <br>
        <br>
        <div>

            <button type="submit">REGISTRAR</button>

        </div>
    
    
    
    
    
    </form>



</body>


</html>